@font-face {
    font-family: 'Cicle';
    src: url('font/Quicksand-Regular.otf');
}

@font-face {
    font-family: 'cbox';
    src: url('font/ChocolateBoxDecorative.TTF');
}

* {
    padding: 0;
    margin: 0;
}

body {
  background: -webkit-linear-gradient(#82101a, black); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#82101a, black); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#82101a, black); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#82101a, black); /* Standard syntax */

  font-family: "Arial Black", Helvetica, sans-serif;
  padding-top: 10px;
  color:#EDE6CE;
}

#map-directions {
    background-color: white;
}

.main {
    height: 100vh;
}

.welcome {
    text-align: center;
    padding-bottom: 10px;
    font-weight: bold;
}

#events {
    padding-top: 10px;
    clear: both;
}

form {
    float: left;
}

footer {
    padding-top: 5px;
    font-size: .7em;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.cover {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: black;
    opacity: .9;
    z-index: 1;
}

.cover img {
    float: right;
    width: 500px;
    height: 400px;
    z-index: 5;
}

.cover button {
    float: right;
}

header h4 {
    display: inline;
}

.offer ul {
    margin-left: 25px;
}

@media screen and (min-width: 600px) {
    header img {
        float: left;
        vertical-align: top;
        margin-right: 5px;
    }

    h1 {
        display: inline;
        font-family: cbox;
        font-size: 2.5em;
    }

    h2 {
        font-family: cbox;
        font-size: 1.5em;
    }

    nav ul {
        margin-top: 5px;
        margin-bottom: 10px;
        border-radius: 7px;
        background-color: #000000;
        display: block;
        float: left;
        list-style-type:none;
        width: 100%;
        font-family: Cicle;
    }

    nav a:link, nav a:visited {
        width: 90px;
        color:#EDE6CE;
        display:block;
        font-weight:bold;
        text-align:center;
        text-decoration:none;
    }

    nav a:hover, nav a:active {
        color:#FF0000;
    }

    nav li {
        float:left;
        padding-right: .75em;
        padding-left: .75em;
    }

    p { 
        clear: both;
        margin-top: 20px;
    }

    .main {
        width: 600px;
    }

    #hours {
        float: right;
        text-align: right;
    }
}

@media screen and (max-width: 599px) {
    header img {
        width: 50vw;
        height: 50vw;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    h1 {
        font-family: cbox;
        font-size: 1.5em;
    }

    h2 {
        font-family: cbox;
        font-size: 1.1em;
    }

    nav ul {
        list-style-type:none;
        width: 100%;
        font-family: Cicle;
    }

    nav a:link, nav a:visited {
        color:#00FF00;
        font-weight:bold;
        text-align:center;
        text-decoration:none;
    }

    nav a:hover, nav a:active {
        color:#FF0000;
    }

    nav li {
        text-align: center;
        padding-right: .75em;
        padding-left: .75em;
    }

    .main {
        width: 95%;
    }
}